* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 30px; 
    padding: 10px;
    max-width: 1000px; 
    margin: auto;
  }
  
  .card {
    background-color: #420707;
    border-radius: 10px;
    padding: 15px;
    color: white;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
    width: 100%; 
  }
  
  .card:hover {
    transform: scale(1.05); 
    background-color: #d65008; 
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.4); 
  }
  
  .image-container {
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
  }
  
  .card:hover .image-container {
    transform: scale(1.05); 
  }
  
  .image {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
  }
  
  @media (max-width: 768px) {
    .container {
      grid-template-columns: repeat(2, 1fr); 
    }
  }
  
  @media (max-width: 480px) {
    .container {
      grid-template-columns: 1fr;
    }
  }
  
  .title {
    margin-top: 15px;
    font-size: 22px;
    color: white;
  }
  
  .description {
    font-size: 14px;
    color: #8bacda;
    margin: 10px 0;
  }
  
  .price-time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }
  
  .price {
    display: flex;
    align-items: center;
  }
  
  .eth-icon {
    width: 15px;
    margin-right: 5px;
  }
  .clock-icon {
    width: 15px; 
    margin-right: 5px; 
    position: relative;
    top: 3px; 
    left: 2px; 
}

  .price span {
    color: #00fff7;
    font-weight: bold;
  }
  
  .time-left span {
    color: #8bacda;
    font-size: 14px;
  }
  
  .creator {
    display: flex;
    align-items: center;
    margin-top: 15px;
    border-top: 1px solid #2e3a56;
    padding-top: 10px;
  }
  
  .creator-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .creator span {
    font-size: 14px;
    color: #8bacda;
  }
  
  .creator strong {
    color: white;
  }
  